<web-app>
    <servlet>
        <servlet-name>loginByServlet</servlet-name>
        <servlet-class>com.sn.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginByServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
</web-app>